<div class="border border-secondary rounded-2">
 <table >
  <thead>
      <tr>
        <th>
          Food
        </th>
        <th>
          Quantity
        </th>
        <th>
          Price
        </th>
        <th >
          Actions
        </th>
      </tr>
    </thead>

 
  <tbody>
   <% @recipefoods.includes([:food]).each do |recipefood| %>
          <tr>
            <td class="table-td"><%= recipefood.food.name %></td>
            <td class="table-td"><%= recipefood.quantity %></td>
            <td class="table-td"><%= recipefood.quantity * recipefood.food.price %></td>
            <td class="table-td">
              <%= button_to "Remove", recipe_recipefood_path(@recipe, recipefood), method: :delete, class: "btn-delete"  %>
            </td>
          </tr>
        <% end %>


  </tbody>
 </table>
</div>