<header>
    <nav>
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <%= link_to 'Recipes', welcome_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Foods', about_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Public Recipes', contact_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'General-Shopping List', contact_path, class: 'nav-link' %>
        </li>
        
        </ul>
    </nav>
</header>